<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>malawianfish.by</title>
    <link rel="stylesheet" href="css/styles.css">
    <!--Шрифты с Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet">
    <!--Подключение иконочного шрифта fontawesome.com-->
    <link rel="stylesheet" href="fontawesome-free/css/all.min.css">
    <!--Подключение слайдер swiper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

</head>

<body>
<header class="header">
    <div class="header_container_top">
        <div class="logo">
            <a href="index.html" class="home"><span class="logotype">malawianfish</span></a>
        </div>

        <div class="personal-item">
            <div class="auth">
                <div class="login">
                    <a href="#" class="auth-link"><i class="fas fa-user-circle"></i>Войти</a>
                </div>
                <div class="cart">
                    <a href="#" class="auth-link"><i class="fas fa-shopping-cart"></i>Корзина</a>
                </div>
            </div>
        </div>
    </div>

    <div class="header_container_bottom">
        <div class="header_navigation">
            <nav class="navigation">
                <ul class="menu">
                    <li class="nav-item"><a href="#" class="nav-link">Каталог</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Доставка</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Контакты</a></li>
                    <li class="nav-item"><a href="info.html" class="nav-link">Информация</a></li>
                </ul>
            </nav>

            <div class="search-block">
                <div class="searsh">
                    <input type="text" class="search-form" placeholder="Поиск">
                    <a href="#" class="search-btn"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main">
    <div class="all-main">

        <div class="information">
            <nav class="navigation-info">
                <ul class="menu-info">
                    <li class="info-item"><a href="#word-chapter1" class="info-link">Описание</a></li>
                    <li class="info-item"><a href="#word-chapter2" class="info-link">Содержание</a></li>
                    <li class="info-item"><a href="#word-chapter3" class="info-link">Уход за цихлидами</a></li>
                    <li class="info-item"><a href="#word-chapter4" class="info-link">Кормление</a></li>
                    <li class="info-item"><a href="#word-chapter5" class="info-link">Разведение и размножение</a></li>
                </ul>
            </nav>
            <div class="description">
                <h2 id="word-chapter1">Описание</h2>
                <p>Цихлида – хищник, рыба с характером, она защищает свою территорию и постоянно чем-то деятельно
                    занята.
                    Именно
                    за характер их так любят аквариумисты.</p>
                <p>Цихлид принято делить на две большие группы – «утака» и «мбуна».</p>
                <p> Рыбы из группы «мбуна» (с языка малави - «атакующая скалы») несколько более миролюбивы, чем «утака»,
                    в
                    живой
                    природе достигают 15 см в длину. Они питаются в основном растительной пищей, соскабливая водоросли
                    со
                    скал.
                    В аквариуме очень любят покопаться в грунте, выкопать растения, переставить на своё усмотрение
                    камни,
                    которые смогут поднять. Словом, это настоящие дизайнеры интерьера. Селятся в зарослях травы, находя
                    там
                    удобные укрытия. Наиболее распространённые виды из этой группы – трофеусы, псевдотрофеусы,
                    лабидохромисы,
                    лабоеотрофеусы, меланохромисы.</p>
                <p>«Утака», в свою очередь, отличаются агрессивностью. Они не прочь полакомиться планктоном и мелкими
                    рыбёшками.
                    Эти цихлиды крупнее (могут достигать 25 см), для обитания выбирают мелководье с большим количеством
                    укрытий.
                    В тесном аквариуме могут вести ожесточённые бои за пространство, поэтому цихлид из этой группы
                    обязательно
                    содержат в больших объёмах и кормят живым кормом. К «утака» относят алунокар, доцимодусов,
                    хаплохромисов
                    и
                    других.</p>
                <p>В природе эти рыбки живут только в африканском озере Малави, куда их далёкие предки попали из
                    соседней
                    Танганьики. За тысячи лет здесь образовалось около пятисот новых видов, каждый из которых имеет свои
                    особенности внешности и поведения. Эволюция продолжается и по сей день. Озеро Малави глубокое с
                    чистой
                    водой и разнообразным рельефом дна. Поэтому новые виды образовываются здесь так легко. Рыбки
                    приспосабливаются к разным условиям, обретают новые окрасы и способы защиты от врагов. Общим
                    остаётся
                    одно: эти рыбы вынашивают оплодотворённые икринки во рту. Мальки первое время тоже прячутся в рот к
                    родителям при малейшей угрозе. Таковы условия выживания в Малави.</p>
                <p>Одни виды цихлид имеют для человека промысловое значение, другие – декоративные – хорошо себя
                    чувствуют
                    в домашних и офисных аквариумах.</p>
                <h2 id="word-chapter2">Содержание</h2>
                <p>Прежде чем завести цихлид, обязательно обустройте аквариум. Грунт должен быть среднего размера – не
                    песок
                    и не крупные камни. Часто в цихлидниках используют белоснежный кварц, он не только подходит по
                    характеристикам, но и имеет нарядный вид. Цихлидам всегда нужны укрытия и норки, пространство для
                    плаванья и возможность уединиться. Для создания биотопа, похожего на дно озера Малави, часто
                    используют
                    нагромождения песчаника, гроты, горшочки, керамические тоннели.</p>
                <p>В аквариум с цихлидами лучше всего подсаживать только цихлид. Всё мирное, что влезет в рот рыбке,
                    будет
                    рано или поздно съедено. Поэтому совмещайте виды, которые в дальнейшем по размерам будут примерно
                    одинаковые. Межвидовую совместимость лучше всего проверять по конкретным видам. Так же в одном
                    помещении
                    с малавийскими цихлидами уживаются крупные сомы – птеригоплихты и анциструсы.</p>
                <p>Объём аквариума для большинства видов цихлид начинается от 100л (чаще даже от 150л). Это очень важный
                    параметр, так как в небольшом аквариуме при перенаселении рыбы не будут расти, не приобретут всей
                    красоты окраса и в конечном итоге передерутся за территорию, останутся самые агрессивные и сильные.
                    Если
                    у вас останется одна взрослая цихлида, вы не сможете подселить к ней мальков, даже если они будут
                    той же
                    породы. Она их съест, храня покой своего пространства.</p>
                <h2 id="word-chapter3">Уход за цихлидами</h2>
                <p>Ухаживать за малавийцами достаточно несложно. Важно лишь систематически выполнять некоторые
                    обязанности.
                <ul>
                    <li><p>Еженедельная подмена воды. Объём – примерно четверть аквариума.</p></li>
                    <li><p>Регулярная чистка грунта. Для чистки грунта можно использовать специальный аквариумный сифон
                        и
                        совмещать этот процесс с подменами воды.</p></li>
                    <li><p>Поддержание необходимых параметров воды. Температура 24-28°C, жёсткость от 6 до 10, pH
                        (кислотность) 7,5-8,5. В принципе, параметры воды для содержания цихлид средние, и обычно не
                        составляет никакого труда их поддерживать.</p></li>
                    <li><p>Фильтрация.</p></li>
                    <li><p>Постоянная аэрация.</p></li>
                    <li><p>Правильные дозировки корма.а.</p></li>
                </ul>
                <p>Сколько живут цихлиды в неволе? При правильном уходе продолжительность жизни малавийских цихлид
                    составляет 5-8 лет. Болезни, которым подвержены цихлиды, - это обычный список грибковых инфекций,
                    вспышки которых происходят из-за неправильного содержания. Если вы обеспечили рыбкам хороший уход,
                    болеть они не должны.</p>
                <h2 id="word-chapter4">Кормление</h2>
                <p>Прокормить цихлиду тоже несложно. Можно давать специальные сухие корма для цихлид, в которых входят
                    вещества для поддержания цвета. Малавийские цихлиды, как уже говорилось, не прочь полакомиться и
                    живым
                    кормом (только следите, чтобы корм помещался в рот рыбке, иначе она может подавиться, не рассчитав
                    силы). Даже мбуна, которые в природе питаются в основном растительным кормом, в аквариуме с
                    удовольствием начнут есть мотыль. Хорошее питание залог правильного развития, быстрого роста рыбок и
                    их
                    способности к размножению. Количество кормлений в сутки – для мальков 2-3, взрослых можно кормить
                    один
                    раз. Следите, чтобы рыбки съедали весь корм в течение 5-7 минут. Если съедают – уменьшайте
                    порцию.</p>
                <h2 id="word-chapter5">Разведение и размножение</h2>
                <p>Так как для многих видов цихлид не нужны специальные приспособления для вымётывания и выхаживания
                    икры,
                    эти рыбы достаточно легко размножаются в неволе. Не раз были случаи, когда пара цихлид обзавелась
                    потомством в общем аквариуме. При этом поведение этих рыб в период размножения меняется. Они
                    начинают
                    ухаживать за самками, обустраивать территорию для «семьи» и потом охранять её от других обитателей
                    аквариума.</p>
                <p>Отличить самку от самца обычно несложно. Чаще всего, самец ярче. В период размножение определить пол
                    можно по анальному плавнику: у самки он становится конусовидным, а у самца острым. По природе самцы
                    обычно полигамны, хотя есть виды, которые выбирают себе пару на всю жизнь.</p>
            </div>
        </div>
    </div>
</main>

<footer class="l-footer">
    <div class="footer_container_bottom">
        <div class="footer_info">
            <span> 2021-2022 © malawianfish. </span>
        </div>

        <div class="social">
            <ul class="social-icon">
                <li><a href="#" class="social-link"><i class="fab fa-telegram"></i></a></li>
                <li><a href="https://www.instagram.com/malawianfish/" class="social-link"><i
                        class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>


</body>
</html>